@use '../../../my-bulma-project.scss' as vars;

.product-detail-page {
  
  .strikethrough-price {
    text-decoration: line-through;
  }
  
  .thumbnail-image {
    border: 2px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;

    img {
      object-fit: cover;
    }
    
    &:hover {
      border-color: #aaa;
      transform: scale(1.05);
    }

    &.is-active {
      border-color: vars.$organic-green;
      box-shadow: 0 0 8px rgba(vars.$organic-green, 0.5);
      transform: scale(1.05);
    }
  }

  .content ul {
    list-style: none;
    margin-left: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }
}