@use '../../../../my-bulma-project.scss' as vars;
.register-page.hero {
  background-color: vars.$light-bg;
}
.register-box {
  border-top: 4px solid vars.$organic-green; 
  
  box-shadow: 0 1em 3em -0.5em rgba(10, 10, 10, 0.1);

  .title {
    color: vars.$dark-text;
  }

  .notification {
    padding: 0.75rem 1rem;
  }
}