.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .card-content {
      flex-grow: 1;
    }
  
    .card-footer {
      margin-top: auto;
  }
  
  .card-image figure {
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}