
@use '../../../../my-bulma-project.scss' as vars;

.login-page.hero {
  background-color: vars.$light-bg;
}

.login-box {
  border-top: 4px solid vars.$organic-green; 
  
  box-shadow: 0 1em 3em -0.5em rgba(10, 10, 10, 0.1);

  .title {
    color: vars.$dark-text; 
  }
}

.login-links {
  margin-top: 1.5rem;
}