
$sidebar-bg: #f5f5f5;
$sidebar-text: #363636;
$sidebar-hover-bg: #f5f5f5;
$sidebar-active-bg: #2E7D32;
$sidebar-active-text: #ffffff;
$sub-sidebar-bg: #f7f7f7;
$sub-sidebar-hover-bg: #f5f5f5;
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.6);
  z-index: 35;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 40;
  display: flex;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.sidebar-menu, .subcategory-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  &.menu {
    padding: 0;
  }
}

.sidebar-menu {
  width: 280px;
  background-color: $sidebar-bg;
  flex-shrink: 0;

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #dbdbdb;
    
    .menu-label {
      margin-bottom: 0;
      color: $sidebar-text;
    }
  }
  
  .menu-list {
    overflow-y: auto;
    a {
      display: flex;
      align-items: center;
      align-items: center;
      color: $sidebar-text; 
      border-radius: 0;
      background-color: $sidebar-bg;
      padding-bottom: 5%;
      
      &:hover {
        background-color: $sidebar-hover-bg;
        color: $sidebar-text;
      }

      &.is-active {
        background-color: $sidebar-active-bg;
        color: $sidebar-active-text;
      }

      .icon.is-right {
        margin-left: auto;
      }
    }
  }
}

.subcategory-panel {
  width: 350px;
  background-color: $sub-sidebar-bg;
  padding: 1rem;
  
  .menu-label {
    padding-left: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
    text-transform: none; 
    font-size: 1.2rem;
    font-weight: bold;
    color: $sidebar-text;
  }

  .menu-list {
    overflow-y: auto;
    padding-top: 1rem;
    
    a {
      text-transform: capitalize;
      color: #555;
      padding: 0.5em 0.75em;
      background-color: transparent;
      
      &:hover {
        background-color: $sidebar-active-bg;
        color: $sub-sidebar-hover-bg; 
      }
    }
  }

  
}